.TabelaProdutos table {
  width: 100%;
}

.TabelaProdutos th {
  background-color: rgb(87, 173, 199);
  color: #fff;
}

.TabelaProdutos .Par {
  background-color: #ddd;
}

.TabelaProdutos .Impar {
  background-color: #ccc;
}
